html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url(../images/earth.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

a {
	text-decoration: none;
}

ol {
	list-style: none;
}

#meta {
	color: rgb(82, 82, 26);

	font-size: 70%;
	font-weight: normal;

	position: relative;
	line-height: 1.2;
	top: 0;
}

#meta::after {
	content: '?';

	color: rgb(219, 204, 29);
	font-size: 200%;
	position: absolute;
	left: 3.5em;	/* longest string is 7 letters long, at twice the font-size that's 3.5em to be at its rightmost */
	top: .5em;	/* centered with 3 lines minus 1 em for the content itself */
}

#boats {
	display: inline-block;
	padding-left: 0;

	-webkit-transform:	rotate(90deg);
	-moz-transform:		rotate(90deg);
	-o-transform:		rotate(90deg);
	-ms-transform:		rotate(90deg);
}

#boats li {
	margin-bottom: 1em;
}

#words {
	color: rgb(235, 234, 152);
}

#words li {
	display: inline-block;
	width: 24%;
	text-align: center;
}
