html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url(../images/earth.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

a {
	text-decoration: none;
}

ol {
	list-style: none;
}

#words {
	color: rgb(235, 234, 152);
}

#boats {
	display: inline-block;

	-webkit-transform:	rotate(90deg);
	-moz-transform:		rotate(90deg);
	-o-transform:		rotate(90deg);
	-ms-transform:		rotate(90deg);
}
