body {
	margin: auto;
	width: 960px;
	font-size: 130%;
	font-family: sans-serif;
	background-color: #000;
	color: white;

	font-family: "VAG Rounded", "Letter Gothic Pitch", sans-serif;
	letter-spacing: .05em;
	line-height: 180%;
}

a {
	color: inherit;
}


.name {
	text-transform: uppercase;
	letter-spacing: .18em;
}
