html {
	height: 100%;
	width: 100%;
	background-color: #000;
	color: white;
	background-image: url(../images/earth.png);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}

body {
	margin: auto;
	max-width: 1024px;
	font-size: 130%;
	font-family: sans-serif;

	font-family: "VAG Rounded", "Letter Gothic Pitch", sans-serif;
	letter-spacing: .1em;
	line-height: 180%;
}

a {
	color: inherit;
}

h2, h3, h4 {
	color: white;
}

nav a {
	text-decoration: none;
}

.name {
	text-transform: uppercase;
	letter-spacing: .18em;
}

ul {
	padding-left: 0;
}

blockquote {
	margin: 0;
}

blockquote p {	/* Quotes should respect layout (poems) */
	margin-bottom: 1em;
}

blockquote p:first-child {
	position: relative;
}

blockquote p:first-child::before {
	content: '« ';
	position: absolute;
	top: 0;
	left: -1em;
}

blockquote p:last-child::after {
	content: ' »';
}

#prev {
	float: left;
	margin-right: .5em;
}

#next {
	float: right;
	margin-left: .5em;
}
