body {
	color: rgb(255, 236, 0);
	letter-spacing: .18em;
	padding: 2em;
	font-weight: bold;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	min-height: 100%;
	font-size: 160%;
}

h1 {
	font-size: 100%;
	margin-bottom: 4em;
}
