---
layout: default
title: La traversée
---

<ol id="meta">
{% for entry in site.meta %}
	<li><a href="{{ entry.url }}">{{entry.title}}</a></li>
{% endfor %}
</ol>

<ol id="boats">
{% assign boats = site.bateaux | sort: 'size' %}
{% for boat in boats reversed %}
	<li style="color: {{ boat.color }}; font-size: {{ boat.size | plus: 50 }}%">
		<a href="{{ boat.url }}" id="{{ boat.title }}"><span class="name">{{boat.title}}</span>&nbsp;{{boat.size}}<span id="meters">&nbsp;m</span></a>
	</li>
{% endfor %}
</ol>

<ol id="words">
{% for word in site.mots %}
	<li><a href="{{ word.url }}">{{word.title}}</a></li>
{% endfor %}
</ol>

<link rel="stylesheet" type="text/css" href="css/index.css">
