---
layout: default
title: La traversée
id: les_quais
---

<link rel="stylesheet" type="text/css" href="css/index.css">

<a id="prolongements" href="prolongements.html">prolongements</a>

<ol id="meta">
{% assign metas = site.meta | sort: 'order' %}
{% for entry in metas %}
	<li><a href="{{ entry.url }}">{{entry.title}}</a></li>
{% endfor %}
</ol>

{% assign boats = site.bateaux | sort: 'size' | reverse %}

<ol class="boats" id="boatsRight">
{% for boat in boats reversed offset:5 %}
	<li style="color: {{ boat.color }}; font-size: {{ boat.size | plus: 50 }}%">
		<a href="{{ boat.url }}" id="{{ boat.title }}"><span class="name">{{boat.title}}</span>&nbsp;{{ boat.size | integer_or_two_decimals }}<span id="meters">&nbsp;m</span></a>
	</li>
{% endfor %}
</ol>

<ol class="boats" id="boatsLeft">
{% for boat in boats reversed limit:5 %}
	<li style="color: {{ boat.color }}; font-size: {{ boat.size | plus: 50 }}%">
		<a href="{{ boat.url }}" id="{{ boat.title }}"><span class="name">{{boat.title}}</span>&nbsp;{{ boat.size | integer_or_two_decimals }}<span id="meters">&nbsp;m</span></a>
	</li>
{% endfor %}
</ol>


<ol id="words">
{% assign words = site.mots | sort: 'order' %}
{% for word in words %}
	<li><a href="{{ word.url }}">{{word.title}}</a></li>
{% endfor %}
</ol>
