---
layout: default
---

<link rel="stylesheet" type="text/css" href="../css/boat.css">

<style>
	#below, h1 {
		color: {{ page.color }};
	}

	#above, #right:hover, #left:hover {
		background-color: {{ page.color }};
	}
</style>

{% capture page_id %}{% if page.id %}{{ page.id }}{% else %}{{ page.title | downcase }}{% endif %}{% endcapture %}

<div id="above">
{{ content }}
</div>

<div id="spacer">
	{% if page.boat_over_bg %}
		{% include boat_over_bg.html %}
	{% else %}
		{% include bg_over_boat.html %}
	{% endif %}

	<nav>
		<a id="prev" href="{{ page.prev.url }}" title="{{ page.prev.title }}">&lt;</a>

		<h1><span class="name">{{ page.title | capitalize }}</span>&nbsp;{{ page.size | integer_or_two_decimals }}<span id="meters">&nbsp;m</span></h1>
		<a id="next" href="{{ page.next.url }}" title="{{ page.next.title }}">&gt;</a>
		<a id="home" title="{{ site.name }}" href="/"><img src="../images/globe.svg" alt="" /></a>
	</nav>
</div>

<div id="below">
	{{ page.below | markdownify }}
</div>

<script type="text/javascript" src="../scripts/item.js"></script>

<script src="../scripts/lib/jquery-1.11.min.js"></script>

<link rel="stylesheet" href="../css/lib/fotorama.min.css" />
<script src="../scripts/lib/fotorama.min.js"></script>
