---
layout: default
---

{% capture page_id %}{% if page.id %}{{ page.id }}{% else %}{{ page.title | downcase }}{% endif %}{% endcapture %}

<div id="above">
{{ content }}
</div>

<div id="spacer">
	{% if page.boat_over_bg %}
		{% include boat_over_bg.html %}
	{% else %}
		{% include bg_over_boat.html %}
	{% endif %}

	<nav>
		<a id="prev" href="{{ page.prev.url }}" title="{{ page.prev.title }}">&lt;</a>

		<h1><span class="name">{{ page.title | capitalize }}</span>&nbsp;{{ page.size | integer_or_two_decimals }}<span id="meters">&nbsp;m</span></h1>
		<a id="next" href="{{ page.next.url }}" title="{{ page.next.title }}">&gt;</a>
		<a id="home" title="Retour à la page d'accueil" href="{{ site.baseurl }}/"><img src="../images/home.svg" alt="" /></a>
	</nav>
</div>

<script type="text/javascript">
	// inline to avoid FOUC
	var spacer = document.getElementById('spacer');

	spacer.style.height = window.innerHeight + 'px';
	window.scrollTo(0, spacer.offsetTop);
</script>

<div id="below">
	{{ page.below | markdownify }}
</div>

<script type="text/javascript" src="../scripts/item.js"></script>
