---
layout: default
---
<style>
	body {
		color: {{ page.color }};
	}
</style>


<img id="bg" src="/images/backgrounds/{{ page.title | downcase }}.jpg" alt="{{ page.title | capitalize }} (objet)" />
<img id="boat" src="/images/boats/{{ page.title | downcase }}.png" alt="{{ page.title | capitalize }} (bateau)" />

<div id="above">
{{ content }}
</div>

<a id="left" href="{{ page.previous }}" >☜</a>
<a id="right" href="{{ page.next }}">☞</a>

<script type="text/javascript" src="/scripts/item.js"></script>
