---
layout: default
---
<style>
	body {
		color: {{ page.color }};
	}

	#above, #right:hover, #left:hover {
		background-color: {{ page.color }};
	}
</style>


<img id="bg" src="../images/backgrounds/{{ page.title | downcase }}.jpg" alt="{{ page.title | capitalize }} (objet)" />
<img id="boat" src="../images/boats/{{ page.title | downcase }}.png" alt="{{ page.title | capitalize }} (bateau)" />

<div id="above">
{{ content }}
</div>

<script type="text/javascript" src="../scripts/item.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> <!-- 33 KB -->

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script> <!-- 16 KB -->

