---
layout: default
---
<style>
	body {
		color: {{ page.color }};
	}

	#above, #right:hover, #left:hover {
		background-color: {{ page.color }};
	}
</style>


<img id="bg" src="../images/backgrounds/{{ page.title | downcase }}.jpg" alt="{{ page.title | capitalize }} (objet)" />
<img id="boat" src="../images/boats/{{ page.title | downcase }}.png" alt="{{ page.title | capitalize }} (bateau)" />

<div id="above">
{{ content }}
</div>

<script type="text/javascript" src="../scripts/item.js"></script>

<script src="../scripts/lib/jquery-1.11.min.js"></script>

<link rel="stylesheet" href="../css/lib/fotorama.min.css" />
<script src="../scripts/lib/fotorama.min.js"></script>
